<!DOCTYPE html>
<html>
    <head>
        <title>Pengurangan</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <form action="/Pengurangan" method="POST">
        <input type="text" name="no1" placeholder="Isikan Angka Pertama Anda">
        <input type="text" name="no2" placeholder="Isikan Angka Kedua Anda">
        <button>Submit</button>
        </form>
    </body>
</html>