<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Penjumlahan</title>
    </head>
    <body>
        <form action="/Penjumlahan" method="POST">
        <input type="text" name="no1" placeholder="Isikan Angka Pertama Anda" required>
        <input type="text" name="no2" placeholder="Isikan Angka Kedua Anda" required>
        <button>Submit</button>
        </form>
    
</html>